<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Github issues
    </h1>
    <p>
      This is an Express website handling github issues.
    </p>
  </div>
  <template>

  </template>
    {{#if issues.length}}
    <div class="issue-container">
    {{#each issues}}
  <div class="row issues">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1 issue-id" id="issue-{{this.id}}">
        <div class="card-content white-text">
          <span class="card-title yellow-text issue-title">{{this.title}}</span>
          <p class="issue-body">{{this.body}}</p>
        </div>
        <div class="card-action white-text">
          <p class="updated-at right-align"><span class="updated white-text badge">Updated at: {{this.updated_at}}, {{this.update_time}}</span></p>
          <p class="created-at">Created at: {{this.created_at}}, {{this.time}}</p>
          <p class="comments right-align"><span class="issue-comments white-text badge">Comments: {{this.comments}}</span></p>
          <a class="issue-url" href="{{this.url}}">Go to issue</a>
        </div>
      </div>
    </div>
  </div>
    {{/each}}
</div>
    {{/if}}
  </div>
</div>
<div class="container">
<hr />
</div>
